*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/compiler.xml
/.idea/checkstyle-idea.xml
/.idea/jarRepositories.xml
.DS_Store
/build
/captures
.externalNativeBuild
